/* style.css */

/* Estilizar o container */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilizar o título */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilizar os links */
a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Estilizar o parágrafo */
p {
  margin-bottom: 20px;
}

/* Estilizar o link de sair */
a[href="logout.php"] {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  font-size: 16px;
  color: #666;
}

a[href="logout.php"]:hover {
  color: #444;
}