/* vacina.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: space-around;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #007bff;
}

.main-content {
    margin-top: 100px; /* Para compensar o header fixo */
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-content h3 {
    font-size: 20px;
    margin-top: 20px;
}

.main-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.myth-truth {
    margin-bottom: 30px;
}

.myth-truth h4 {
    font-size: 18px;
    color: #ff0000;
}

.myth-truth h4.truth {
    color: #007bff;
}
